body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #474851;
    margin: 0;
}

#quiz-container, #result-container {
    text-align: center;
    width: 300px;
    background-color: rgb(194, 181, 181);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

button {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4eee22;
}